@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* Helpers */
:root{
    font-family: 'Inter', sans-serif;
    --bg: white;
    --primary: #449DD1;
    --secondary: #dadada;
    --success: #3DDC97;
    --warning: #ffc039;
    --danger: #D52941;
    --dark: #1D1E18;
    --light: #F5F5F5;
    color: #1D1E18;
    --text: #1D1E18;
}
@media (prefers-color-scheme: dark) {
    :root{
        color: #F5F5F5;
        --text: #F5F5F5;
        --bg: #1D1E18;
    }
}
.d{
    &-block{
        display: block;
    }
    &-flex{
        display: flex;
    }
    &-inline{
        display: inline;
    }
}
.text{
    &-primary{
        color: var(--primary);
    }
    &-success{
        color: var(--success);
    }
    &-warning{
        color: var(--warning);
    }
    &-danger{
        color: var(--danger);
    }
    &-dark{
        color: var(--dark);
    }

    &-thin{
        font-weight: 100;
    }
    &-light{
        font-weight: 300;
    }
    &-normal{
        font-weight: 400;
    }
    &-bold{
        font-weight: 500;
    }

    &-right{
        text-align: right;
    }
    &-left{
        text-align: left;
    }
}
.alert {
    border-radius: 5px;
    padding: 15px;
    font-weight: 600;
    &.alert-primary {
        background-color: var(--primary);
        color: var(--light);
    }
    &.alert-success {
        background-color: var(--success);
        color: var(--light);
    }
    &.alert-warning {
        background-color: var(--warning);
        color: var(--dark);
    }
    &.alert-danger {
        background-color: var(--danger);
        color: var(--light);
    }
}
.dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    &.dot-success {
        background-color: var(--success);
    }
    &.dot-warning {
        background-color: var(--warning);
    }
    &.dot-danger {
        background-color: var(--danger);
    }
    &.dot-secondary {
        background-color: var(--secondary);
    }
}

.badge {
    border-radius: 4px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 5px;
    text-wrap: nowrap;

    .dot {
        margin-right: 5px;
    }

    &.badge-success{
        background-color: var(--success);
    }
    &.badge-warning{
        background-color: var(--warning);
    }
    &.badge-danger{
        background-color: var(--danger);
    }

    &.badge-outline{
        background-color: unset;
        &.badge-success{
            border: 1px solid var(--success);
        }
        &.badge-warning{
            border: 1px solid var(--warning);
        }
        &.badge-danger{
            border: 1px solid var(--danger);
        }
        &.badge-secondary{
            border: 1px solid var(--secondary);
        }
    }


}

/* Page css */
body{
    background-color: var(--bg);
}
main{
    max-width: 55dvw;
    margin-left: auto;
    margin-right: auto;

    .metrics-settings-wrapper{
        margin-top: 10px;
        display: flex;
        justify-content: end;
        .metrics-settings-selector{
            .metrics-settings-selector-inputs{
                display: flex;
                justify-content: end;
                gap: 0.2em;
                input, select{
                    border: 1px solid var(--secondary);
                    background-color: var(--bg);
                    box-sizing: border-box;
                    height: 35px;
                    padding: 5px;
                    min-width: 5em;
                    margin-top: 5px;
                    font-family: 'Inter', sans-serif;
                }
                input{
                    max-width: 5em;
                }
            }
        }
    }

    .services{
        margin-top: 1em;
        border-radius: 5px;
        border: 1px solid var(--secondary);
        .service {
            background-color: var(--bg);
            padding: 5px 15px;
            border-bottom: 1px solid var(--secondary);
            .service-core{
                display:flex;
                column-gap: 8px;
                align-items: baseline;
                .service-name{
                    font-size: 1.2rem;
                    flex-grow: 1;
                    > p{
                        margin-bottom: 10px;
                    }
                }
            }
            .service-description{
                margin-top:0;
            }
            .service-availability{
                width: 100%;
                &-chart{
                    width: 100%;
                    margin-bottom: 10px;
                    &-placeholder{
                        margin-top:5px;
                        width:100%;
                        height:35px;
                        border-radius: 6px;
                    }
                }
                &-infos{
                    display: flex;
                    justify-content: space-between;
                    font-size: 0.9rem;
                    margin-bottom: 5px;
                }
            }
        }
    }
}
@media only screen and (max-width : 768px){
    main{
        max-width: 75dvw!important;
    }
}
@media only screen and (max-width : 576px){
    main{
        max-width: 90dvw!important;
    }
}

/* Animations */
.bg-placeholder {
    background: linear-gradient(269deg, #ececec, #a0a0a0);
    background-size: 400% 400%;

    -webkit-animation: PlaceholderAnim 5s ease infinite;
    -moz-animation: PlaceholderAnim 5s ease infinite;
    -o-animation: PlaceholderAnim 5s ease infinite;
    animation: PlaceholderAnim 5s ease infinite;
}
@-webkit-keyframes PlaceholderAnim {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-moz-keyframes PlaceholderAnim {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@-o-keyframes PlaceholderAnim {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes PlaceholderAnim {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
